h2{
  text-align: center;
  padding: 40px;
  font-size: 60px;
  font-family: serif;
  font-style: oblique;
}
#heading{
background-color: gray;
border-bottom: 1px solid grey;
color: white;
}
#dicearea{
  margin-top: 30px;
  background-color: aliceblue;
  padding-top: 20px;
}
#p1dice1{
  height: 60px;
  width: 60px;
  border: 1px solid red;
  padding: 14px;
  font-size: 20px;
}
#p1dice2{
  height: 60px;
  width: 60px;
  border: 1px solid red;
  padding: 15px;
  font-size: 20px;
}
#p2dice1{
  height: 60px;
  width: 60px;
  border: 1px solid red;
  padding: 14px;
  font-size: 20px;
}
#p2dice2{
  height: 60px;
  width: 60px;
  border: 1px solid red;
  padding: 15px;
  font-size: 20px;
}
